<ul>
  <li><a class="nav-link" [routerLink]="['/userregistration']" [routerLinkActive]="'active'">User Registration</a></li>
  <li><a class="nav-link" [routerLink]="['/usersignin']" [routerLinkActive]="'active'">User signin</a></li>
</ul>
<div class="container">
  <div class="row reg">
    <div class="col align-self-start">
      <div class="card-header reg1"><h1 style="text-align: center;"><b>User SignIn</b></h1></div>
      <div class="card-body reg1">
      	<div class="form-row">
	      	<div class="col-md-3">
	      		<form #usersignin="ngForm" (ngSubmit)="onSubmit(usersignin)" autocomplete="off"> 
					    <div class="form-row">
					    	<div class="form-group col-md-6">
					    		<label for="email">User Email:</label>
					    		<input
					    		type="text"
					    		id="email"
					    		name="email"
					    		#email="ngModel"
					    		[(ngModel)]="model.email"
					    		class="form-control" 
					    		placeholder="User Email" 
					    		pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
					    		required>
					    	</div>
					    	<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
						    	<div *ngIf="email.errors?.['required']">
					    			Email is required.
					    		</div>
					    		<div *ngIf="email.errors?.['pattern']">
					    			Email pattern not matched.
					    		</div>
					    	</div>
					    </div>
					    <div class="form-row">
					    	<div class="form-group col-md-6">
					    		<label for="password">User Password:</label> 
					    		<input 
					    		type="password"
					    		id="password"
					    		name="password"
					    		#password="ngModel"
					    		[(ngModel)]="model.password" 
					    		class="form-control"
					    		placeholder="User password"
					    		maxlength="15"
					    		minlength="4"
					    		required>
					    	</div>
					    	<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
						    	<div *ngIf="password.errors?.['required']">
					    			password is required.
					    		</div>
					    		<div *ngIf="password.errors?.['maxlength']">
					    			password must 15 characters long.
					    		</div>
					    		<div *ngIf="password.errors?.['minlength']">
					    			password must be at least 4 characters long.
					    		</div>
					    	</div>
					    </div>
      				<div class="form-row">
      					<div class="form-group col">
      						<button class="btn btn-success" type="submit" [disabled]="!usersignin.valid">Submit</button>
      					</div>
      				</div>
	      		</form>
	      	</div>
	      </div>
	    </div>
    </div>
  </div>
</div>
