#root {
  padding: 30px;
}

.card{
  border : 2px solid black;
  border-radius: 15px;
}

.card-header {
  background-color: rgb(83 34 233 / 96%);
  border : 1px solid black;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.card-body{
  border: 1px solid black;
  border-radius: 10px;
  border-left-width: 1px;
  margin-left: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.align-self-start {
    margin-top: 20px;
}

.col-md-3 {
  width: 156px;
}

.form-row {
  width: 398px;
  margin-top: 8px;
}

.reg1 {
  padding-left: 25px;
  width: 443px;
  margin-left: 374px;
}

.container{
  margin-right: 13.5;
  margin-left: 16px;
  width: 1211px;
  padding-right: 4px;
  height: 559px;
  margin-right: 0px;
}

.reg {
  width: 1150px;
}

.lk{
  margin-bottom: 5px;
}

.qw{
  width: 268px;
  margin-top: 16px;
}
.alert {
  color: red;
  font-size: 14px;
  width: 302px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top-width: 0px;
  padding-left: 18px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

label {
  font-size: 15px;
}

span {
  font-size: 20px;
}

input[type="text"],input[type="password"] {
  border-radius: 12px;
  border-bottom : 1px solid black;
  width: 300px;
}

button[type="button"],button[type="submit"] {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}