.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

#root {
  padding: 30px;
}

.register-form {
  max-width: 350px;
  margin: auto;
}

.clr {
  color: red;
}

.card{
  border : 2px solid black;
  border-radius: 15px;
}

.card-header {
  background-color: rgb(83 34 233 / 96%);
  border : 1px solid black;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.card-body{
  border: 1px solid black;
  border-radius: 10px;
  border-left-width: 1px;
  margin-left: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.align-self-start {
    margin-top: 20px;
}

.alert {
  color: red;
  font-size: 14px;
  width: 302px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top-width: 0px;
  padding-left: 18px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

.gen {
  height: 31px;
  width: 91px;
  padding-top: 13px;
  margin-top: 0px;
  border-top-width: 0px;  
  padding-bottom: 0px;
  border-bottom-width: 0px;
  margin-bottom: 11px;
}

.lb {
  padding-left: 13px;
}

.col-md-3 {
  width: 156px;
}

.form-row {
  width: 398px;
  margin-top: 8px;
}

.ico {
  background-color: #28272705;
}

.reg1 {
  padding-left: 25px;
  width: 443px;
  margin-left: 374px;
}

.lian{
  padding-left: 10px;padding-right: 10px;
  width: 542px;
  margin-left: 1px;
}

.container{
  margin-right: 13.5;
  margin-left: 16px;
  width: 1211px;
  padding-right: 4px;
  height: 559px;
  margin-right: 0px;
}

.reg {
  width: 1150px;
}

.lk{
  margin-bottom: 5px;
}

.qw{
  width: 268px;
  margin-top: 16px;
}

.tbl2 {
  width: 654px;
  margin-top: 23px;
}

.tabl3 {
  margin-top: 43px;
  width: 542px;
}

.adden {
  width: 547px;
}

.tab7 {
  width: 453px;
}

.tab71 {
  width: 566px;
  margin-top: 45px;
}

.liant{
  padding-left: 10px;padding-right: 10px;
  width: 654px;
  margin-left: 1px;
}

label {
  font-size: 15px;
}

span {
  font-size: 20px;
}

a{
  text-decoration: none; 
}

input[type="text"],input[type="password"] {
  border-radius: 12px;
  border-bottom : 1px solid black;
  width: 300px;
}

button[type="button"],button[type="submit"] {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

input[type="checkbox"]{
 margin-right: 12px;
 height: 28px;
 width: 15px
}

input[type="radio"] {
  border-radius: 12px;
  border : 1px solid black;
  width: 20px;
  height: 18px;
  margin-top: 10px;
  border-radius: 25px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
#country{
    width: 200px;
} 