<ul>
  <li><a class="nav-link" [routerLink]="['/userregistration']" [routerLinkActive]="'active'">User Registration</a></li>
  <li><a class="nav-link" [routerLink]="['/usersignin']" [routerLinkActive]="'active'">User signin</a></li>
</ul>
<div class="container">
  <div class="row reg">
    <div class="col align-self-start">
      <div class="card-header reg1"><h1 style="text-align: center;"><b>User Registration</b></h1></div>
      <div class="card-body reg1">
      	<div class="form-row">
	      	<div class="col-md-3">
	      		<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" autocomplete="off">
	      			<input type="hidden" name="_id" #_id="ngModel" [(ngModel)]= "employeeService.selectedEmployee._id">
	      			<input type="hidden" name="user_id" #user_id="ngModel" [(ngModel)]= "employeeService.selectedEmployee.user_id">
	      			<div class ="form-row">
	      				<div class ="form-group col-md-3">
	      					<label for="name">User Name:</label>    
	      					<input
	      					type="text"
	      					id="name"
	      					name ="name" 
	      					class="form-control"
	      					required minlength="4"
	      					maxlength="30"
	      					appForbiddenName = "bob"
	      					[(ngModel)]="employeeService.selectedEmployee.name"
	      					#name="ngModel"
	      					placeholder="User name"
	      					onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
	      					>
	      				</div>
					    	<div *ngIf="name.invalid && (name.dirty || name.touched)" 
					    	class="alert">
					    		<div *ngIf="name.errors?.['required']">
					    			Name is required.
					    		</div>
					    		<div *ngIf="name.errors?.['minlength']">
					    			Name must be at least 4 characters long.
					    		</div>
					    		<div *ngIf="name.errors?.['maxlength']">
					    			maximum 30 characters has limit.
					    		</div>
					    		<div *ngIf="name.errors?.['forbiddenName']"> 
					    			Name can't be Bob
					    		</div>
					    	</div>
	      			</div>
					    <div class="form-row">
					    	<div class="form-group col-md-6">
					    		<label for="email">User Email:</label>
					    		<input 
					    		type="text"
					    		id="email"
					    		name="email"
					    		#email="ngModel"
					    		class="form-control"
					    		[(ngModel)]="employeeService.selectedEmployee.email"
					    		placeholder="User Email"
					    		pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
					    		required>
					    	</div>
					    	<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
						    	<div *ngIf="email.errors?.['required']">
					    			Email is required.
					    		</div>
					    		<div *ngIf="email.errors?.['pattern']">
					    			Email pattern not matched.
					    		</div>
					    	</div>
					    </div>
					    <div class="form-row">
					    	<div class="form-group col-md-6">
					    		<label for="password">User Password:</label>
					    		<input 
					    		type="password"
					    		id="password"
					    		name="password"
					    		#password="ngModel"
					    		class="form-control"
					    		[(ngModel)]="employeeService.selectedEmployee.password"
					    		placeholder="User password"
					    		maxlength="15"
					    		minlength="4"
					    		required>
					    	</div>
					    	<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
						    	<div *ngIf="password.errors?.['required']">
					    			password is required.
					    		</div>
					    		<div *ngIf="password.errors?.['maxlength']">
					    			password must 15 characters long.
					    		</div>
					    		<div *ngIf="password.errors?.['minlength']">
					    			password must be at least 4 characters long.
					    		</div>
					    	</div> 
					    </div>
					    <div class="form-row">
	      				<div class ="form-group col-md-6">
	      					<label for="age">User Age:</label>
	      					<input 
	      					type="text"
	      					id = "age"
	      					name ="age" 
	      					#age="ngModel"
	      					class="form-control"
	      					[(ngModel)]="employeeService.selectedEmployee.age"
	      					placeholder="User Age"
	      					maxlength="3"
	      					minlength="2" 
	      					onkeypress="return /[0-9]/i.test(event.key)"
	      					required>
	      				</div>
						    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert">
						    	<div *ngIf="age.errors?.['required']">
					    			Age is required.
					    		</div>
					    		<div *ngIf="age.errors?.['minlength']">
					    			Age must be at least 2 characters long.
					    		</div>
					    	</div>
					    </div>
					    <div class="form-row">
					    	<div class="form-group col-md-3">
						    	<label class="gen">User Gender:</label> 
						    	<div>
						    		<input 
						    		type="radio" 
						    		id="male"
						    		#gender="ngModel"
						    		value="Male" 
						    		name="gender"
						    		[(ngModel)]="employeeService.selectedEmployee.gender"
						    		required />
						    		<label class="lb" for="male">Male</label> 
						    	</div>
						    	<div>
						    		<input 
						    		type="radio" 
						    		id="female" 
						    		#gender="ngModel"
						    		value="Female"
						    		name="gender"
						    		[(ngModel)]="employeeService.selectedEmployee.gender" 
						    		required />
						    		<label class="lb" for="female">Female</label>
						    	</div>
						    </div>
						    <div>
					    		<span *ngIf="age && age.valid && name && name.valid && email && email.valid && password && password.valid && gender && gender.invalid" class="alert">Gender must be select one</span>
					    	</div>
	      			</div>
	      			<div class="form-row">
	      				<div class="form-group col-md-3">
	      					<label class="lk" for="country">Country:</label>
	      					<div>
	      						<select 
	      						id="country"
	      						#country="ngModel"
	      						name="country" 
	      						[(ngModel)]="employeeService.selectedEmployee.country"  
	      						required >
	      							<option value="Russia">Russia</option>
	      							<option value="Australia">Australia</option>
	      							<option value="India">INDIA</option>
	      							<option value="Canada">Canada</option>
	      							<option value="China">China</option>
	      							<option value="Germany">Germany</option>
	      							<option value="Malaysia">Malaysia</option>
	      						</select>
	      					</div>
	      					<div style="width: 276px;">
	      						<span *ngIf="age && age.valid && name && name.valid && email && email.valid && password && password.valid && gender && gender.valid && country && country.invalid" class="alert">country must be select one</span>
	      					</div>
	      				</div>
	      			</div>
	      			<div class="form-row">
	      				<div class="form-group col-md-3 qw">
	      					<input
	      					type="checkbox"
	      					id="agree"
	      					#agree="ngModel"
	      					name="agree"
	      					value="accept"
	      					[(ngModel)]="employeeService.selectedEmployee.agree" 
	      					required ><label for ="agree">By creating an account you agree to our Terms & Privacy.</label>
	      				</div>
	      				<div style="width: 276px;">
	      					<span *ngIf="age && age.valid && name && name.valid && email && email.valid && password && password.valid && gender && gender.valid && country && country.valid && agree && agree.invalid" class="alert">You must agree the condition</span>
	      				</div>
	      			</div>
	      			<div class="form-row"></div>
      				<div class="form-row">
      					<div class="form-group col">
      						<button class="btn btn-success" type="submit" [disabled]="!employeeForm.valid">Submit</button>
      						<button class="btn btn-primary" type="button" (click)="resetForm(employeeForm)">Reset</button>
      					</div>
      				</div>
	      		</form>
	      	</div>
	      </div>
	     </div>
    </div>
    <div class="col align-self-center tab7">
    	<div class="adden">
	    	<div class="card-header tabl3"><h1 style="text-align: center;"><b>User List</b></h1></div>
	      	<div class="card-body lian">
				<table class="table table-bordered table-sm table-hover table-striped table-dark">
	      			<thead>
	      				<tr>
	      					<th class="text-center"><h4>Sr No</h4></th>
	      					<th class="text-center"><h4>Name</h4></th>
	      					<th class="text-center"><h4>Email</h4></th>
	      					<th class="text-center"><h4>created_at</h4></th>
	      					<th class="text-center"><h4>updated_at</h4></th>
	      				</tr>
	      			</thead> 
	      			<tbody>
		      			<tr *ngFor="let emp of employeeService.employees; let i = index"> 
		      				<td class="text-center">{{i+1}}</td>
		      				<td class="text-center">{{emp.name}}</td>
		      				<td class="text-center">{{emp.email}}</td>
		      				<td class="text-center">{{emp.created_at | date }}</td> 
		      				<td class="text-center">{{emp.updated_at | date }}</td> 
		      			</tr>
		      		</tbody>
	      		</table>
	      	</div>
	    </div>
	</div>
	<div class="col align-self-center tab71">
    	<div class="adden">
	    	<div class="card-header tbl2"><h1 style="text-align: center;"><b>Female User Details</b></h1></div>
	      	<div class="card-body liant">
				<table class="table table-bordered table-sm table-hover table-striped table-dark">
	      			<thead>
	      				<tr>
	      					<th class="text-center"><h4>Sr No</h4></th>
	      					<th class="text-center"><h4>Age</h4></th>
	      					<th class="text-center"><h4>Gender</h4></th>
	      					<th class="text-center"><h4>Country</h4></th>
	      					<th class="text-center"><h4>Action</h4></th>
	      				</tr>
	      			</thead>
	      			<tbody>
		      			<tr *ngFor="let emp of employeeService.employees | filter:'gender': 'female' let i = index">
		      				<td class="text-center">{{i+1}}</td>
		      				<td class="text-center">{{emp.age}}</td>
		      				<td class="text-center">{{emp.gender}}</td>
		      				<td class="text-center">{{emp.country}}</td>
		      				<td class="text-center">
		      					<button class="ico">
		      						<a class="action-btn" (click)="onEdit(emp, employeeForm)">
			      						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
												  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
												</svg>
			      					</a>
		      					</button>
		      					&nbsp;&nbsp;
		      					<button class="ico">
		      						<a class="action-btn" (click)="onDelete(emp.user_id, employeeForm)">
			      						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
												  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
												  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
												</svg>
			      					</a>	
		      					</button>
		      					
		      				</td>
		      			</tr>
		      		</tbody>
	      		</table>
	      	</div>
	    </div>
		</div>
		<div class="col align-self-center tab71">
    	<div class="adden">
	    	<div class="card-header tbl2"><h1 style="text-align: center;"><b>Male User Details</b></h1></div>
	      	<div class="card-body liant">
				<table class="table table-bordered table-sm table-hover table-striped table-dark">
	      			<thead>
	      				<tr>
	      					<th class="text-center"><h4>Sr No</h4></th>
	      					<th class="text-center"><h4>Age</h4></th>
	      					<th class="text-center"><h4>Gender</h4></th>
	      					<th class="text-center"><h4>Country</h4></th>
	      					<th class="text-center"><h4>Action</h4></th>
	      				</tr>
	      			</thead>
	      			<tbody> 
		      			<tr *ngFor="let emp of employeeService.employees | filtermale:'gender': 'Male' let i = index">
		      				<td class="text-center">{{i+1}}</td>
		      				<td class="text-center">{{emp.age}}</td>
		      				<td class="text-center">{{emp.gender}}</td>
		      				<td class="text-center">{{emp.country}}</td>
		      				<td class="text-center">
		      					<button class="ico">
		      						<a class="action-btn" (click)="onEdit(emp, employeeForm)">
			      						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
												  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
												</svg>
			      					</a>
		      					</button>
		      					&nbsp;&nbsp;
		      					<button class="ico">
		      						<a class="action-btn" (click)="onDelete(emp.user_id, employeeForm)">
			      						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
												  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
												  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
												</svg>
			      					</a>	
		      					</button>
		      				</td>
		      			</tr>
		      		</tbody>
	      		</table>
	      	</div>
	    </div>
		</div>
  </div>
</div>
