<app-nav></app-nav>
<div class="editor-container" fxLayout="column">
  <h2 class=" mat-headline">Test Editor</h2>
  <ngx-monaco-editor fxFlex [options]="editorOptions" [(ngModel)]="valuefile" (init)="editorInit($event)">
  </ngx-monaco-editor>
</div>
<div fxLayout="column">
    <div>
        <input 
        type="file"
        name ="file"
        (change)="SelectFile($event)">
    </div>
</div>