<div>
  <ul>  
    <ul>  
      <li><a class="nav-link" [routerLink]="['/profilepage']" [routerLinkActive]="'active'">User Exchange</a></li>
      <li><a class="nav-link" [routerLink]="['/balancepage']" [routerLinkActive]="'active'">User Balance</a></li>
      <li><a class="nav-link" [routerLink]="['/historypage']" [routerLinkActive]="'active'">User History</a></li>
      <li><a routerLink="{{ entry }}" [routerLinkActive]="'active'" >User Authentication</a></li>
      <li><a class="nav-link" [routerLink]="['/texteditor']" [routerLinkActive]="'active'">Text Editor</a></li>
      <li><a class="nav-link" [routerLink]="['/fileupload']" [routerLinkActive]="'active'">FileUpLoad</a></li>
      <li><a class="nav-link" [routerLink]="['/jsonreader']" [routerLinkActive]="'active'">Json Reader</a></li>
      <li style="float:right"><a type="submit" (click)="logout()" mat-raised-button color="primary">Logout</a></li>
    </ul>
  </ul>
</div>