<app-nav></app-nav>
<div class="center">
	<form #QRauth="ngForm" (ngSubmit)="AuthDisable(QRauth)" autocomplete="off">
		<div class="form-group col-md-6">
			<label for="secret">User secret code:</label>
			<input
			type="text"
			id="secret"
			name="secret"
			#secret = "ngModel"
			[(ngModel)]="selectedDevice.secret"
			class="form-control" 
			placeholder="User secretcode"
			onkeypress="return /^[0-9 .]/i.test(event.key)"
			minlength= 6,
			maxlength= 6,
			required>
		</div>
		<div *ngIf="secret.invalid && (secret.dirty || secret.touched)" class="alert">
			<div *ngIf="secret.errors?.['required']">
				secret code is required.
			</div>
			<div *ngIf="secret.errors?.['minlength']">
				secret must be at least 6 characters long.
			</div>
		</div>
		<div>
			<button class="btn btn-success" type="submit" [disabled]="!QRauth.valid">Disable</button>
		</div>
	</form>
</div>