.center {
  position: absolute;
  top: 20%;
  width: 335px;
  left: 70px;
}
.btn{
  margin-top: 10px;
}
.alert{
  color: red;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 135px;
  padding-bottom: 3px;
  width: 415px;
}