<app-nav></app-nav>

<div class="center">
    <div>
        <h3>BalanceAmout :-</h3>
        <p><span>BTC :-</span><span>&nbsp;
        {{ CoinBalance.BTC }}</span></p>
        <p><span>ETH :-</span><span >&nbsp;
        {{CoinBalance.ETH}}</span></p>
        <p><span>XRP :-</span><span>&nbsp;
        {{CoinBalance.XRP}}</span></p>
    </div>
</div>