/*.navbar-light {
  background-color: #554ce9;
  border-radius: 20px;
  border: 1px solid black;
  border-width: 1px;
}
.nav-link {
  color: black;
  font-weight: bold;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  border: 2px solid #cae8ca;
}*/
