<div>
<app-nav></app-nav>
	<div class="center">
		<div class="left">
			<h3>Coin Exchange :-</h3>
			<form #usercoin="ngForm" (ngSubmit)="onSubmitAmount(usercoin)" autocomplete="off">
				<div class ="form-group col-md-3">
					<label for="first_currency">First Currency</label>
					<select 
					id = "first_currency"
					#first_currency = "ngModel"
					[(ngModel)]="selectedDevice.first_currency" 
					name = "first_currency"
					(change)= "onSelect($event.target)"
					required>
						<option Value="0" disabled>Choose your Coin</option>
						<option *ngFor="let coin of Coin" [value]="coin">
							{{ coin }}
						</option>
					</select>
				</div>
				<div class ="form-group col-md-3">
					<label for="second_currency">Second Currency</label>
					<select
					id="second_currency"
					#second_currency="ngModel"
					[(ngModel)]="selectedDevice.second_currency" 
					name = "second_currency"
					(change)= "onMarketprice($event.target)"
					required>
						<option Value=" " disabled> Select Coin</option>
						<option *ngFor="let coinvalue of CoinValue" [value]="coinvalue.second_currency">
							{{ coinvalue.second_currency }}
						</option>
					</select>
				</div>
				<div class ="form-group col-md-3">
					<label for="amount">Amount Value:</label>
					<input
					type="text"
					id="amount"
					#amount = "ngModel"
					[(ngModel)]="selectedDevice.amount"
					name ="amount"
					onkeypress="return /^[0-9 .]/i.test(event.key)"
					placeholder="Enter Amount Value"
					(keyup)="search($event.target)"
					required
					>
					<div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert">
						<div *ngIf="amount.errors?.['required']">
							amount is required.
						</div>
					</div>
				</div>
				<div> 
					<p>MarketPrice : <span>
					{{ CoinPrice.market_price }}</span></p>
					<p>transaction_fee : <span >
					{{ CoinPrice.transaction_fee }}</span></p>
				</div>
				<div>
					<div>
						<button class="btn btn-success" type="submit" [disabled]="!usercoin.valid">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<div class="right">
			<div>
				<h3>BalanceAmout :-</h3>
				<p><span>BTC : </span><span>
				{{ CoinBalance.BTC }}</span></p>
				<p><span>ETH : </span><span >
				{{CoinBalance.ETH}}</span></p>
				<p><span>XRP : </span><span>
				{{CoinBalance.XRP}}</span></p>
			</div>
			<div>
				<p>Total transaction_fee :  <span>{{ (selectedDevice.amount * selectedDevice.market_price)* (selectedDevice.transaction_fee/100)}}</span></p>

				<p>Total Recived Amount :  <span>{{ ((selectedDevice.amount * selectedDevice.market_price))-((selectedDevice.amount * selectedDevice.market_price)* (selectedDevice.transaction_fee/100))}}</span></p>
			</div>
		</div>
	</div>
</div>
