.center{
  position: absolute;
  top: 20%;
  width: auto;
  left: 70px
}
.right, .left{
  float: left;
}
label{
  width: 135px;
}
#toast-container{
  background-color: green;
  float: right;
}
.alert{
  color: red;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 135px;
  padding-bottom: 3px;
}