<app-nav></app-nav>
<div class= "center">
        <table class="table table-bordered table-sm table-hover table-striped table-dark">
            <thead>
                <tr>
                    <th class="text-center"><h4>Sr No</h4></th>
                    <th class="text-center"><h4>first_currency</h4></th>
                    <th class="text-center"><h4>second_currency</h4></th>
                    <th class="text-center"><h4>ExchangeAmount</h4></th>
                    <th class="text-center"><h4>market_price</h4></th>
                    <th class="text-center"><h4>transaction_fee</h4></th>
                    <th class="text-center"><h4>TotaltransactionFee</h4></th>
                    <th class="text-center"><h4>TotalRecivedValue</h4></th>
                    <th class="text-center"><h4>created_at</h4></th>
                    <th class="text-center"><h4>updated_at</h4></th>
                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let History of CoinHistroy; let i = index"> 
                    <td class="text-center">{{i+1}}</td>
                    <td class="text-center">{{History.first_currency}}</td>
                    <td class="text-center">{{History.second_currency}}</td>
                    <td class="text-center">{{History.ExchangeAmount}}</td>
                    <td class="text-center">{{History.market_price}}</td>
                    <td class="text-center">{{History.transaction_fee}}</td>
                    <td class="text-center">{{History.TotaltransactionFee}}</td>
                    <td class="text-center">{{History.TotalRecivedValue}}</td>
                    <td class="text-center">{{History.created_at | date }}</td> 
                    <td class="text-center">{{History.updated_at | date }}</td> 
                </tr>
            </tbody>
        </table>
    </div>