<app-nav></app-nav>
<div class="center">
	<h2 class=" mat-headline" >File Uploader</h2>
	<div>
	  <form>      
	    <div>
	      <input type="file" name="image" (change)="selectImage($event)" />
	    </div>
	    <br>
	    <div>
	      <button type="submit" (click)="onSubmit()">Upload</button>
	    </div>
	  </form>
	</div>
</div>

<!-- 
<hr>
<h2 style="text-align: center">Multiple</h2>
<div style="text-align: center">
  <form>      
    <div>
      <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
    </div>
    <br>
    <div>
      <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
    </div>
  </form>
</div> -->